<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Выход"/>
    </form>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<div class="row">
    <table class="table">
        <tbody>
        <td th:text="${user.username}"> </td>
        <td th:text="${user.firstName}"> </td>
        </tbody>
    </table>
</div>
</body>
</html>